
server:
  port:8080

#jdbc配置
spring:
  datasource:
    password: root
    username: root
    url:  jdbc:mysql://127.0.0.1:3306/gmall_study?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource


#mybatis配置
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  #数据库下划线转成驼峰
  configuration:
    map-underscore-to-camel-case: true


#日志打印级别
logging:
  level:
    root: debug
